/*Card container*/

#cards {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
}

#cards.grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
/*list view*/
#cards.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}