@media ( max-width: 601px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .card {
        text-align: center;
    }

    .card img {
        margin: 0 auto 0.5rem;
    }
}

@media (min-width: 1025px) {
.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.join-layout {
    flex-direction: row;
    align-items: flex-start;
}

.join-form {
    flex: 2;

}
.card {
    flex: 1;
    position: sticky;
    top: 1rem;
}
}

.cards-grid {
    grid-template-columns: repeat(4, 1frf);
    gap: 2rem;
    padding: 2rem 3rem;
}

