:root {
    --primary: #4c9a9a;
    --secondary: #f4a261;
    --background: #faf9f6;
    --text: #2e2e2e;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
    line-height: 1.5;
    background: var(--background);
    color: var(--text);
}

header {
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar .logo {
    width: 48px;
    height: 48px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navlinks a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero img {
    width: 100%;
    height: auto;
    display:block
}
