@media (min-width: 900px) {
    .hero {
        height: 75vh;
    }

    .hero-content h1 {
        font-size: 3rem;
        color: #f2e8cf;
    }

    .hero-content p {
        font-size: 1.3rem;
        color: #ffffff;
    }
}

/*trails.html*/
/*grid view*/
.grid-view {
    grid-template-columns: repeat(3,1fr);
}

/*list view*/
.list-view .trail-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list-view .trail-card img {
    width: 220px;
    height: 150px;
    border-radius: 8px;
}

.list-view h2 {
    margin-top: 0;
}

#forecast-container {
    grid-template-columns: repeat(3, 1fr);
}